li.myBtn {
  list-style-type: none;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 800;
}

li,
li a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 800;
}
