li.myBtn {
  list-style-type: none;
  color: #280b45;
  font-size: 50px;
  font-weight: 800;
}

li,
li a {
  list-style-type: none;
  text-decoration: none;
  color: #280b45;
  font-size: 50px;
  font-weight: 800;
}
