li.myBtn {
  list-style-type: none;
  color: white;
  font-size: 50px;
  font-weight: 800;
}

li,
li a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-weight: 800;
}
body.customize-support {
  background-color: white;
}
