header {
  display: flex;
  background-color: black;
}
.custom-logo {
  width: 800px;
  height: 120px;
}
#menu-header {
  display: flex;
  margin: auto;
}
li {
  padding-left: 50px;
}
.premier {
  content: url(../images/html.png);
}
