header {
  display: flex;
  background-color: white;
}
.custom-logo {
  width: 800px;
  height: 120px;
  padding-left: 50px;
}
#menu-header {
  display: flex;
  margin: auto;
}
li {
  padding-left: 50px;
}
a:hover,
.myBtn:hover {
  text-decoration: overline rgba(255, 68, 0, 0.699);
  transition: 0.3s;
}
