/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefefb;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 597px; /* Could be more or less, depending on screen size */
  height: 769px;
  overflow: hidden;
}
#contact {
  content: url(../images/contact.png);
  width: 600px;
  height: 220px;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 310px;
  font-weight: 800;
}
input {
  height: 40px;
  border-radius: 8px;
  border: solid #888 1px;
  margin-top: 6px;
}
textarea {
  height: 180px;
  border-radius: 8px;
  border: solid #888 1px;
  margin-top: 8px;
}
input.wpcf7-form-control.wpcf7-submit.has-spinner {
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 800;
  width: 315px;
  height: 90px;
  margin: auto;
}

.myBtn {
  cursor: pointer;
}
