#single {
  display: flex;
  margin-top: 50px;
}
#bloc-description {
  width: 50%;
}
#ref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#titre {
  font-size: 4em;
  letter-spacing: 0.15em;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
  color: #000000;
  background: rgba(255, 68, 0, 0.699);
  border-radius: 1% 99% 0% 100% / 12% 84% 16% 88%;
}
#description {
  text-transform: uppercase;
}
#bloc-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#photo {
  width: 500px;
  height: 720px;
}
.galerie {
  margin-bottom: 100px;
}
